<%= form_with(model: @score, local: true) do |f| %>
    <%# <div class="justify-content-center">
      <%# <%= render 'shared/error_messages', model: f.object %>
    <%# </div> %>
  <div class="d-flex mt-4">
    <% if user_signed_in? %>
      <% if @games[0] == nil && @athletes[0] == nil %> 
        <%= link_to "選手データ登録", new_athlete_path %>・
        <%= link_to "大会データ登録", new_game_path %>を行ってください。
      <% elsif @games[0] == nil %>
        <%= link_to "大会データ登録", new_game_path %>を行ってください。
      <% elsif @athletes[0] == nil %>
        <%= link_to "選手データ登録", new_athlete_path %>を行って下さい。
      <% else %>
        <div class="ml-4">
          <%= f.collection_select(:game_id, Game.all, :id, :name, {},   {class:"form-select"}) %>
        </div>
        <div class="ml-4">
        <%= f.collection_select(:athlete_id, Athlete.all, :id, :name, {}, {class:"form-select"}) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="d-flex mt-5 ml-5"> 
    <%# 床 %>
    <div class="fx-score score-box"> 
      <div class="d-flex">
        <div class="event-box bg-primary">
        fx
        </div>
      </div>
      <div class="d-flex score-dend">
        <div class="dend-box">
          <div class="bg-secondary">
            <%= f.text_field :floor_d, class:"d-score input-box", placeholder:"D" %>
          </div>
          <div class="bg-secondary">
            <%= f.text_field :floor_e, class:"e-score input-box", placeholder:"E" %>
          </div>
          <div class="bg-secondary">
            <%= f.text_field :floor_nd, class:"nd input-box", placeholder:"ND" %>
          </div>
        </div>
        <div class="total-box d-flex bg-info text-center">
          total
        </div>
      </div>
    </div>
    <%# 床 %>
    <%# 鞍馬 %>
    <div class="fx-score score-box"> 
      <div class="d-flex">
        <div class="event-box bg-primary">
        Ph
        </div>
      </div>
      <div class="d-flex score-dend">
        <div class="dend-box">
          <div class="bg-secondary">
            <%= f.text_field :pommel_d, class:"d-score input-box", placeholder:"D" %>
          </div>
          <div class="bg-secondary">
            <%= f.text_field :pommel_e, class:"e-score input-box", placeholder:"E" %>
          </div>
          <div class="bg-secondary">
            <%= f.text_field :pommel_nd, class:"nd input-box", placeholder:"ND" %>
          </div>
        </div>
        <div class="total-box d-flex bg-info text-center">
          total
        </div>
      </div>
    </div>
    <%# 鞍馬 %>
    <%# 吊輪 %>
    <div class="fx-score score-box"> 
      <div class="d-flex">
        <div class="event-box bg-primary">
        Ri
        </div>
      </div>
      <div class="d-flex score-dend">
        <div class="dend-box">
          <div class="bg-secondary">
            <%= f.text_field :rings_d, class:"d-score input-box", placeholder:"D" %>
          </div>
          <div class="bg-secondary">
            <%= f.text_field :rings_e, class:"e-score input-box", placeholder:"E" %>
          </div>
          <div class="bg-secondary">
            <%= f.text_field :rings_nd, class:"nd input-box", placeholder:"ND" %>
          </div>
        </div>
        <div class="total-box d-flex bg-info text-center">
          total
        </div>
      </div>
    </div>
    <%# 吊輪 %>
    <%# 跳馬 %>
    <div class="ph-score score-box"> 
      <div class="d-flex">
        <div class="event-box bg-primary">
        Pb
        </div>
      </div>
      <div class="d-flex score-dend">
        <div class="dend-box">
          <div class="d-score bg-secondary">
            <%= f.text_field :vault_d, class:"input-box", placeholder:"D" %>
          </div>
          <div class="e-score bg-secondary">
            <%= f.text_field :vault_e, class:"input-box", placeholder:"E" %>
          </div>
          <div class="nd-score bg-secondary">
            <%= f.text_field :vault_nd, class:"input-box", placeholder:"ND" %>
          </div>
        </div>
        <div class="total-box d-flex bg-info text-center">
          total
        </div>
      </div>
    </div>
    <%# 跳馬 %>
    <%# 平行棒 %>
    <div class="ph-score score-box"> 
      <div class="d-flex">
        <div class="event-box bg-primary">
        Pb
        </div>
      </div>
      <div class="d-flex score-dend">
        <div class="dend-box">
          <div class="d-score bg-secondary">
            <%= f.text_field :parallel_d, class:"input-box", placeholder:"D" %>
          </div>
          <div class="e-score bg-secondary">
            <%= f.text_field :parallel_e, class:"input-box", placeholder:"E" %>
          </div>
          <div class="nd-score bg-secondary">
            <%= f.text_field :parallel_nd, class:"input-box", placeholder:"ND" %>
          </div>
        </div>
        <div class="total-box d-flex bg-info text-center">
          total
        </div>
      </div>
    </div>
    <%# 平行棒 %>
    <%# 鉄棒 %>
    <div class="ph-score score-box"> 
      <div class="d-flex">
        <div class="event-box bg-primary">
        Hb
        </div>
      </div>
      <div class="d-flex score-dend">
        <div class="dend-box">
          <div class="d-score bg-secondary">
            <%= f.text_field :horizontal_d, class:"input-box", placeholder:"D" %>
          </div>
          <div class="e-score bg-secondary">
            <%= f.text_field :horizontal_e, class:"input-box", placeholder:"E" %>
          </div>
          <div class="nd-score bg-secondary">
            <%= f.text_field :horizontal_nd, class:"input-box", placeholder:"ND" %>
          </div>
        </div>
        <div class="total-box d-flex bg-info text-center">
          total
        </div>
      </div>
    </div>
    <%# 跳馬 %>
  </div>
  <% if user_signed_in? %>
    <p style="font-size:0.9em; color:green;">　　※スコアが無い場合(棄権)は「０」を入力してください。</p>
    <div class="col-2 m-2">
      <%= f.submit "スコア取り込み" ,class:"btn btn-success" %>
    </div>
  <% else %>
    <p style="font-size:0.9em; color:green;"> 　　※スコアを登録を行う場合は<%= link_to "ログイン", new_user_session_path %>してください。
  <% end %>
<% end %>  




